*~
.*~
.*.swp

*_Implmnt/.recordref
*_Implmnt/AutoConstraint_JTAG_sniffer.sdc
*_Implmnt/*.edf
*_Implmnt/*.fse
*_Implmnt/*.htm
*_Implmnt/*.map
*_Implmnt/*.sap
*_Implmnt/*.scf
*_Implmnt/*.srd
*_Implmnt/*.srm
*_Implmnt/*.srr
*_Implmnt/*.srs
*_Implmnt/*_scck.rpt
*_Implmnt/*_synplify.fdc
*_Implmnt/dm/
*_Implmnt/rpt_*.areasrr
*_Implmnt/rpt_*_areasrr.htm
*_Implmnt/run_options.txt
*_Implmnt/scratchproject.prs
*_Implmnt/synlog/
*_Implmnt/syntmp/
*_Implmnt/synwork/
licbug.txt
stdout.log
synlog.tcl

*_Implmnt/AutoConstraint_*.sdc
*_Implmnt/sbt/Log/
*_Implmnt/sbt/Temp/
*_Implmnt/sbt/netlist/
*_Implmnt/sbt/outputs/gui/*.cfg

